
body{
  font-family: 'Poppins', sans-serif;
  padding:20px;

}

a {
  color: #5C5C5C;
  font-weight: 300;
  text-decoration: none;

}

a:hover{
  color: #5D98B0;

}
ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E2EFF5;
}

li.navs{
  float:left;
}

li.navs a{
display:block;
text-align:left;
padding:16px;
}

li a:hover{
  background-color:#E2EFF5;

}
h1, h2, h3{
font-weight:600;
}

h1{
  text-align:center;
}

.mystory{
width:70%;
float:right;


}
.pics{
  width:100%;

}
.button{
  background-color: #E2EFF5;
  border: none;
  color: #5C5C5C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
background-color:#5D98B0;
color:white;

}
.lists{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
