/*
Colors Used
#5C5C5C - Grey
5D98B0 - Dark Blue
E2EFF5 - Light Blue
*/

header{
  background-color: #E2EFF5;
  padding:10px;
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.56);
  position:relative;

}

nav{
  display:inline-block;
  width:100%;

}

nav ul{
  list-style-type:none;
  padding:0;
  text-align:center;

}

nav ul li{
  display:inline-block;


}

nav ul li a{
  padding: 0 15px;

}

body{
  font-family: 'Poppins', sans-serif;
  margin:10px;
  box-sizing: border-box;
}

#hero{
  background-color: #E2EFF5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}



.row {
  margin: 25px 0;

}

#work .row {
  padding-bottom: 25px;


}

a {
  color: #5C5C5C;
  font-weight: 300;
  text-decoration: none;

}


a:hover{
  color: #5D98B0;

}

h1, h2, h3{
font-weight:600;
}



.cover{
  float:left;
  width:70%;
  margin:10px 0;
}



h1{
  text-align:center;
}

h2{
text-align:center;

}
.pics{
  width:100%;

}
.button{
  background-color: #E2EFF5;
  border: none;
  color: #5C5C5C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
background-color:#5D98B0;
color:white;

}
.lists{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Layout Styling */
